---
import '@/styles/globals.css'
import Layout from '../layouts/Layout.astro';
import Chat from '@/components/Chat';
---

<Layout title="Public Chat">
  <div class="container mx-auto px-4">
    <Chat isPublic client:load />
  </div>
</Layout>